div.widget
{
  margin: 5px 5px;
  background-color: rgb(219, 219, 219);
  border-radius: 9px;
  padding: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  min-width: 120px;
}

div.date
{
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.temp
{
  font-size: 2em;
  color: rgba(0,0,0,0.9);
}

